{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block title %}
{% trans 'Про нас | ТОВ «Латкрок-Сервіс»' %}
{% endblock %}

{% block content %}
<img class="d-block w-100" src="{% static 'main/images/about-us.jpeg' %}">
<div class="container p-3 mt-5 rounded-3 border shadow-lg">
	<h1>{% trans 'Про нас' %}</h1>
	<hr>
	<p>
		{% trans "ТОВ «Латкрок-Сервіс» засноване 1996 р. Ми на ринку України понад 14 років. За цей час ми стали стабільними та надійними партнерами для наших клієнтів. У зв'язку з реорганізацією компанії в 2008 році було змінено ім'я ТОВ Латкрок на ТОВ Латкрок-Сервіс. Основним видом діяльності підприємства є задоволення потреб населення та підприємств у сфері надання послуг із утримання житлових, офісних та виробничих приміщень у чистому стані." %} <br><br> {% trans "З початку своєї діяльності підприємство розвивається виключно за рахунок власних фінансових та технологічних можливостей, постійно збільшуючи обсяги надання послуг." %}
	</p>
</div>
{% endblock %}