{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/about_style.css' %}">
{% endblock %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="wrap mb-5">
		<img class="img-fluid" src="https://www.kleen-tex.ru/uploads/tx_templavoila/about-us_04.jpg">
		<div id="cont" class="container p-3 rounded-3 border shadow-lg">
			<h1>О нас</h1>
			<hr>
			<p>ООО «Латкрок-Сервис» основано 1996 г. Мы на рынке Украины более 14-ти лет. За это время мы стали стабильными и надежными партнерами для наших клиентов. В связи с реорганизацией компании в 2008 году было изменено имя ООО «Латкрок» на ООО «Латкрок-Сервис». Основным видом деятельности предприятия является удовлетворение потребностей населения и предприятий в сфере предоставления услуг по удержанию жилых, офисных и производственных помещений в чистом состоянии.
			<br><br>
			С начала своей деятельности предприятие развивается исключительно за счет собственных финансовых и технологических возможностей, постоянно увеличивая объемы предоставления услуг.</p>
		</div>
	</div>
{% endblock %}