{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/cart_style.css' %}">
{% endblock %}

{% block title %}
{% trans 'Кошик' %}
{% endblock %}

{% block content %}
<div class="container p-3 rounded-3 border shadow-sm mt-3" style="background: none;">
	<nav aria-label="breadcrumb" style="background: none;">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Головна' %}</a></li>
			<li class="breadcrumb-item"><a href="{% url 'order' %}">{% trans 'Оренда килимових покриттів' %}</a></li>
			<li class="breadcrumb-item"><a href="{% url 'logo' %}">{% trans 'Килимок з логотипом' %}</a></li>
			<li class="breadcrumb-item"><a href="{% url 'special' %}">{% trans 'Спецпропозиції' %}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Кошик' %}</li>
		</ol>
	</nav>
</div>
<figure class="text-center mt-3">
	<blockquote class="blockquote">
		<h3>{% trans 'Кошик' %}</h3>
	</blockquote>
</figure>
<div id="cont" class="container-fluid">
	<div id="basket_id" class="row p-4 pb-4 pl-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<ul class="list-group list-group-horizontal">
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Зображення' %}</li>
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Назва' %}</li>
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Інформація' %}</li>
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Кількість' %}</li>
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Ціна одиниці' %}</li>
			<li class="col-6 col-sm-4 col-md-3 col-xl-2 list-group-item">{% trans 'Всього' %}</li>
		</ul>
	</div>
</div>
<div id="form" style="display: none;">
	<div class="container alert alert-primary text-center" role="alert">
		<p class="fs-5">{% trans 'Після заповнення форми вам буде надіслано лист про успішне оформлення замовлення!' %}</p>
	</div>
	<div class="container p-4 rounded-3 border">
		<figure class="text-center">
			<blockquote class="blockquote">
				<p>{% trans 'Заявка на замовлення' %}</p>
			</blockquote>
		</figure>
		<hr style="padding-bottom: 3px;">
		<form class="row g-3 was-validated" method="post">
			{% csrf_token %}
		  <div class="col-md-6">
			<label for="first_name" class="form-label">{% trans "Ім'я*" %}</label>
			<div class="input-group">
				<span class="input-group-text" id="inputGroupName"><ion-icon name="accessibility-outline"></ion-icon></span>
				{{ form.first_name }}
			</div>
			<span style="color: #bf1515;">{{ form.first_name.errors }}</span>
		  </div>
		  <div class="col-md-6">
			<label for="last_name" class="form-label">{% trans 'Прізвище*' %}</label>
			 <div class="input-group">
				<span class="input-group-text" id="inputGroupLastName"><ion-icon name="accessibility-outline"></ion-icon></span>
				{{ form.last_name }}
			 </div>
			 <span style="color: #bf1515;">{{ form.last_name.errors }}</span>
		  </div>
		  <div class="col-md-6">
			<label for="phone" class="form-label">{% trans 'Номер телефону*' %}</label>
			<div class="input-group">
				<span class="input-group-text" id="inputGroupPhone"><ion-icon name="call-outline"></ion-icon></span>
				{{ form.phone }}
			</div>
			<span style="color: #bf1515;">{{ form.phone.errors }}</span>
		  </div>
		  <div class="col-md-6">
			<label for="email" class="form-label">{% trans 'Адреса електронної пошти*' %}</label>
			<div class="input-group">
				<span class="input-group-text" id="inputGroupMail">@</span>
				{{ form.email }}
			</div>
			<span style="color: #bf1515;">{{ form.email.errors }}</span>
		  </div>
		  <div class="col-md-3">
			<label for="city" class="form-label">{% trans 'Місто*' %}</label>
			 <div class="input-group">
				<span class="input-group-text" id="inputGroupCity"><ion-icon name="navigate-outline"></ion-icon></span>
				{{ form.city }}
			 </div>
			 <span style="color: #bf1515;">{{ form.city.errors }}</span>
		  </div>
		  <div class="col-md-9">
			<label for="address" class="form-label">{% trans 'Адреса*' %}</label>
			<div class="input-group">
				<span class="input-group-text" id="inputGroupAddr"><ion-icon name="globe-outline"></ion-icon></span>
				{{ form.address }}
			</div>
			<span style="color: #bf1515;">{{ form.address.errors }}</span>
		  </div>
		  <div class="col-md-9">
			<label for="captcha" class="form-label">{% trans 'Капча*' %}</label>
			<div class="input-group">
				{{ form.captcha }}
		  	</div>
			<span style="color: #bf1515;">{{ form.captcha.errors }}</span>
		  </div>
			{{ form.details }}
			<span style="color: #bf1515;">{{ form.details.errors }}</span>
		  <div class="col-12">
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" id="validationServer07" required>
			  <label class="form-check-label" for="validationServer07">
					{% trans "Я дозволяю зв'язатися із Latkrok*" %}
			  </label>
			</div>
		  </div>
		  <button type="submit" class="btn btn-primary m-2 mx-auto">{% trans 'Оформити' %}</button>
		</form>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'main/js/cart.js' %}"></script>
<script src="{% static 'main/js/phone.js' %}"></script>
{% endblock %}