{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/contacts_style.css' %}">
{% endblock %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<img class="img-fluid" src="{% static 'main/images/contact-us.jpeg' %}">
<h1 class="text-muted text-center fs-1 mt-4">Свяжитесь с нами!</h1>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 mb-5">
			<div class="d-flex">
				<h2 class="text-muted">Номера</h2>
				<a id="icon" class="text-muted"><ion-icon name="call"></ion-icon></a>
			</div>
			<hr>
			<p class="fs-5">+380633163993</p>
			<p class="fs-5">+380505524292</p>
		</div>
		<div class="col-lg-3 mb-5">
			<div class="d-flex">
				<h2 class="text-muted">Почта</h2>
				<a id="icon" class="text-muted"><ion-icon name="mail"></ion-icon></a>
			</div>
			<hr>
			<p class="fs-5">ua.latkrok@gmail.com</p>
		</div>
		<div class="col-lg-3 mb-5">
			<div class="d-flex">
				<h2 class="text-muted">Быстрая связь</h2>
				<a id="icon" class="text-muted"><ion-icon name="flash"></ion-icon></a>
			</div>
			<hr>
			<p class="fs-5"><a href="https://t.me/Latkrok" class="text-muted">Telegram 1</a></p>
			<p class="fs-5"><a href="https://t.me/Yarikgr15" class="text-muted">Telegram 2</a></p>
		</div>
		<div class="col-lg-3 mb-5">
			<div class="d-flex">
				<h2 class="text-muted">График работы</h2>
				<a id="icon" class="text-muted"><ion-icon name="bar-chart"></ion-icon></a>
			</div>
			<hr>
			<p class="fs-5">Будние: с 9:00 до 20:00</p>
		</div>
	</div>
</div>
{% endblock %}