{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/index_style.css' %}">
{% endblock %}

{% block title %}
Latkrok
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.kleen-tex.ru/uploads/tx_templavoila/1920x440__-_EcoAbsorb_04.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://latkrok.com.ua/image/cache/catalog/slide/1920x440_HL_02-1920x440.jpg">
      </div>
      <div class="carousel-item">
      	<img class="d-block w-100" src="https://www.kleen-tex.ru/uploads/tx_templavoila/Web_Banner_1_1920x440_-_RU_01.jpg">
      </div>
     </div>
    </div>
<div class="container overflow-hidden">
	<div class="row">
		<div class="col-md-6 mt-5">
			<div class="col mb-3">
				<div class="p-3 border bg-light fs-4">Аренда и комплексное обслуживание грязезащитных ковров</div>
			</div>
			<div class="col">
				<div class="p-3 border bg-light fs-4">Хотите получать чистый коврик каждую неделю и при этом не переплачивать? Отлично! Мы Вам в этом поможем.</div>
			</div>
		</div>
		<div class="col-md-6 mt-5">
			<div class="col">
				<iframe src="https://www.youtube.com/embed/jTdxPEA_sxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col">
				<a id="hbtn" class="btn btn btn-lg mt-2" href="https://t.me/Latkrok" role="button">Уточнить</a>
				<a id="hbtn" class="btn btn btn-lg mt-2" href="https://t.me/Latkrok" role="button">Консультация</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-center p-5 mt-5" style="background: #45a35f;">
	<div class="row">
		<div class="col-sm-4">
			<div class="col"><h3>80%</h3></div>
			<div class="col">
				<p class="fs-5">загрязнений попадают в помещение через входную зону*</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col"><h3>70%</h3></div>
			<div class="col">
				<p class="fs-5">затрат на услуги по уборке приходится на очистку напольных покрытий*</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col"><h3>60%</h3></div>
			<div class="col">
				<p class="fs-5">несчастных случаев происходит в результате подскальзывания или спотыкания*</p>
			</div>
		</div>
	</div>
</div>
<p class="text-center fs-1">Как работает наш сервис?</p>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<p class="text-center fs-5"><img loading="lazy" class="img-fluid" src="{% static 'main/images/mat.png' %}">1. Вместе с вами мы определяем нужное количество (мы работаем даже с 1 ковром), цвет и размеры ковров</p>
		</div>
		<div class="col-sm-4">
			<p class="text-center fs-5"><img loading="lazy" class="img-fluid" src="{% static 'main/images/truck.png' %}">2. В заранее оговоренный день мы будем заменять грязные ковры в ваших помещениях на чистые.</p>
		</div>
		<div class="col-sm-4">
			<p class="text-center fs-5"><img loading="lazy" class="img-fluid" src="{% static 'main/images/benefit.png' %}">3. Вы наслаждаетесь чистотой.</p>
		</div>
	</div>
	<div class="container text-center mt-5">
		<a id="hbtn" class="btn btn btn-lg mt-2" href="{% url 'order' %}">Перейти к аренде</a>
	</div>
</div>
<div class="container p-3 rounded-3 border shadow-lg text-center mt-5">Стирка ковров</div>
<div class="container">
	<div class="row g-2">
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="{% static 'main/images/car2.jpg' %}">
			</div>
		</div>
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="{% static 'main/images/car1.jpg' %}">
			</div>
		</div>
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/21adn8h061/8470bceb0097408cbbf9a26136ddcbfa/a77b1972ed100ff9b5ed4bfef45618f2.jpg">
			</div>
		</div>
  </div>
</div>
<div class="container p-3 rounded-3 border shadow-lg text-center mt-5">Доставка ковров</div>
<div class="container">
	<div class="row g-2">
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/31h9hkk061/8470bceb0097408cbbf9a26136ddcbfa/12df165650fb8f4257b966256c9feaf8.jpg">
			</div>
		</div>
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/31h9hkk061/8470bceb0097408cbbf9a26136ddcbfa/461b4269eafff3284be902e927434bfd.jpg">
			</div>
		</div>
		<div class="col mt-4">
			<div class="container">
				<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/31h9hkk061/8470bceb0097408cbbf9a26136ddcbfa/ea6325c8f07987eab5f7764beee2d1ee.jpg">
			</div>
		</div>
	</div>
</div>
<div class="container p-3 rounded-3 border shadow-lg mt-5" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			Наши клиенты
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u8.platformalp.ru/s/1iclq7051/8470bceb0097408cbbf9a26136ddcbfa/a099283e20583f8f0d88756a9dac3a0e.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1pgj2a051/8470bceb0097408cbbf9a26136ddcbfa/ff5ea0e0d6d80c09b3bcab9fdcf18b44.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1rn44q051/8470bceb0097408cbbf9a26136ddcbfa/0ea4b7dc1de922c72515b3c38a48b816.png">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u8.platformalp.ru/s/2123q2e061/8470bceb0097408cbbf9a26136ddcbfa/f5f1979c669f8bd163cf76ec55fe96ca.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/f031d32c47dbff926dee5334c9211969.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/9d9s6s051/8470bceb0097408cbbf9a26136ddcbfa/1d197d03dc0743bd344461d76f79994d.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1m6r4l051/8470bceb0097408cbbf9a26136ddcbfa/8423ec5f896aa5b0ae2d69004e218b46.png">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u8.platformalp.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/8ff3185da4fce182d24123050ddafc98.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u8.platformalp.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/8dbe511ba8e7e7852832abb1c71747fd.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/80b5539543aadc916eed0ce995b820a1.jpg">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1m6r4l051/8470bceb0097408cbbf9a26136ddcbfa/474b38a80eae583183fd261e74ec95fc.png">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1rn4a0051/8470bceb0097408cbbf9a26136ddcbfa/2ec3bf17cd62f984a1860eb95910f3cc.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/7aad135b9d7e582644a94310ca8ac184.jpg">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/873e3b76f8f6fd05e7250da85e8eee43.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1lp4ke051/8470bceb0097408cbbf9a26136ddcbfa/bf5d2f06f7425db57b2eeed6af4c6bb9.png">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1j2gjc051/8470bceb0097408cbbf9a26136ddcbfa/81644eb39d5aa28ac8ea158dd6b31fb3.jpg">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u8.platformalp.ru/s/1p0frh051/8470bceb0097408cbbf9a26136ddcbfa/dfb8610dc7d5aaeb4c67cf624adf4fca.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1p0frh051/8470bceb0097408cbbf9a26136ddcbfa/305c21a2b1be5da1f9dc1ff8d3f05205.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1hpii6051/8470bceb0097408cbbf9a26136ddcbfa/14612c5bad445ef6e1077dbb66b05b61.png">
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row g-2">
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1m6r4l051/8470bceb0097408cbbf9a26136ddcbfa/60fdd959235976cd2dfdbf2919659d33.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1gjkh0051/8470bceb0097408cbbf9a26136ddcbfa/112936dece04e84573ff207ea7a64cf8.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u20.plpstatic.ru/s/1m6r4l051/8470bceb0097408cbbf9a26136ddcbfa/5db31f3df8c48f219d32226ce50165e8.png">
							</div>
						</div>
						<div class="col mt-5">
							<div class="container">
								<img id="hover" class="img-fluid" src="https://u21.plpstatic.ru/s/1eafcd051/8470bceb0097408cbbf9a26136ddcbfa/d5baab8237f0c07e9a2686da1729dcdc.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}