{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block title %}
{% trans 'Статті | ТОВ «Латкрок-Сервіс»' %}
{% endblock %}

{% block content %}
{% if articles %}
    <style>
        div > a:hover {
            background-color: #E9ECEF !important;
        }
    </style>
    <div class="container p-sm-5 mt-5 shadow p-3 mb-5 bg-body rounded">
        <p class="fs-4 fw-bold text-muted">{% trans 'Список статей' %}</p>
        <hr style="padding-bottom: 4px;">
        <div class="list-group">
            {% for i in articles %}
                {% if forloop.counter|divisibleby:2 %}
                    <a class="list-group-item dropdown-item bg-light" href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                {% else %}
                    <a class="list-group-item dropdown-item" href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="container alert alert-warning shadow-lg text-center mt-5" role="alert">
        <p class="fs-3">{% trans 'Зараз немає статей' %}</p>
    </div>
{% endif %}
{% endblock %}