{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/logo_style.css' %}">
{% endblock %}

{% block title %}
{% trans 'Килимок з логотипом | ТОВ «Латкрок-Сервіс»' %}
{% endblock %}

{% block content %}
<div class="container p-3 rounded-3 border shadow-sm mt-3">
	<nav aria-label="breadcrumb" style="background: none;">
	  <ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Головна' %}</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'order' %}">{% trans 'Оренда килимових покриттів' %}</a></li>
		  <li class="breadcrumb-item active" aria-current="page">{% trans 'Килимок з логотипом' %}</li>
		  <li class="breadcrumb-item"><a href="{% url 'special' %}">{% trans 'Спецпропозиції' %}</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'cart' %}">{% trans 'Кошик' %}</a></li>
	  </ol>
	</nav>
</div>
<div class="m-5" style="display: flex; justify-content: center;">
	<a href="#carousel-collection" class="btn btn-outline-secondary" role="button">{% trans 'Дивитись колекцію' %}</a>
</div>
<div class="collection" id="carousel-collection">
	<a href="#" type="button" class="close btn-close btn-close-white" aria-label="Close"></a>
	<div class="my-carousel container m-5">
		<div id="carouselControls" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/IMG_20211117_124024copy.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/viber-image-2019-05-13-13.14.07.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/JP_Velour.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/IMG_20200402_132943.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/IMG_20160909_100130.1516893689.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/0-02-04-06ee186c6ec08e10c114576990e51277eccd1356aa7b25ed0ef0eda776800e33_full-removebg-preview.png' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/viber_2021-09-27_15-07-56-349.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/IMG_6036.jpg' %}">
				</div>
				<div class="carousel-item">
					<img loading="lazy" class="img-carousel d-block w-100" src="{% static 'main/images/2016-06-30-15.17.22-1.jpg' %}">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
	  <div class="col-md-7">
		<h2 class="featurette-heading">Jet-Print<span class="text-muted">  {% trans 'спроектований для персоналізації.' %}</span></h2>
		<p class="lead">{% trans 'Професійний килимок з логотипом призначений для розміщення перед входом до компанії або ресепшн. Досконало затримує пил і бруд, а також контролює вологу в приміщеннях. Ідеальний біля входів до будівель та компаній, які хочуть зберегти свої входи чистими та представницькими. Маючи 2-річну гарантію на виробничі дефекти, а також при використанні новітньої технології швидкого кольорового друку, килимок Jet-Print виглядатиме як новий, навіть після багатьох циклів прання та використання його для щоденного пішого руху' %}</p>
	  </div>
	  <div class="col-md-5">
			<img src="{% static 'main/images/Mat-placement.jpg' %}" class="img-fluid">
	  </div>
	</div>
	<hr class="mt-5">
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'main/images/Jet-Print-Light-d.jpg' %}" class="img-fluid">
			<div class="ms-lg-3 mt-5">
				<p class="fs-3 mt-3 fw-bold" style="color: #404040;">{% trans 'Технічні деталі' %}</p>
				<hr>
				<div class="d-flex">
					<p class="fs-5 fw-bolder" style="color: #404040;">{% trans 'ПРИМІТКА' %}</p>
					<p class="fs-6 text-break text-muted ms-5">{% trans 'Для використання в будівлі<br>Затримує бруд від потрапляння у ваш дім' %}</p>
				</div>
				<div class="d-flex mt-5">
					<p class="fs-5 fw-bolder" style="color: #404040;">{% trans 'МАТЕРІАЛ' %}</p>
					<p class="fs-6 text-break text-muted ms-5">{% trans '100% нейлонова поверхність<br>Основа - 100% нітрилова гума(каучук)' %}</p>
				</div>
				<div class="d-flex mt-5">
					<p class="fs-5 fw-bolder me-2" style="color: #404040;">{% trans 'РОЗМІРИ' %}</p>
					<p class="fs-6 text-break text-muted ms-5">{% trans 'Ширина: 60, 75, 85, 115, 150, 200 см<br>Довжина: до 4м<br>Також можуть бути індивідуальні розміри' %}</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p class="fs-3 mt-3 fw-bold" style="color: #404040;">{% trans 'Чому варто обрати саме Jet-Print?' %}</p>
			<hr>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Можливість нанесення унікального лого' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Набивання детальні, точно передають колір, не вигораютьо' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Пропонується у багатьох розмірах' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Вміщується під низько розташованими дверима' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Виготовляється з міцного поліаміду та еластичної нітрилової гуми' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Не містить шкідливий PVC, не ламається, не кришиться і не коробиться' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Має протиковзний низ' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Добре затримує забруднення та вологу' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Можна прати в пральній машині за 60 °C' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Ви отримаєте 2 роки гарантії під час професійного обслуговування килимів' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Не містить шкідливих речовин' %}</p>
			</div>
			<div class="d-flex">
				<i class="fa fa-check-circle-o" aria-hidden="true" style="color: #11598E; font-size: 32px;"></i>
				<p class="fs-5 text-muted mt-2 ms-2">{% trans 'Вироблено у Європі' %}</p>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-12 mt-5">
		  <h1 class="ms-1 fw-bold" style="color: #404040;">{% trans 'Кольори' %}</h1>
		  <hr style="padding-bottom: 3px;">
		  <img src="{% static 'main/images/Jet-Print-Light.jpg' %}" class="img-fluid">
	  </div>
	  <div class="col-md-12">
		<h1 class="mt-5 fw-bold" style="color: #404040;">{% trans 'Зробити запит' %}</h1>
		<hr style="padding-bottom: 3px;">
		<div class="container alert alert-primary text-center mb-5" role="alert">
			<p class="fs-5">{% trans 'Після заповнення форми вам буде надіслано лист про успішне оформлення замовлення!' %}</p>
		</div>
		<div class="container p-4 rounded-3 border">
			<form class="row g-3 was-validated" method="post">
			 {% csrf_token %}
			  <div class="col-md-6">
				<label for="first_name" class="form-label">{% trans "Ім'я*" %}</label>
				<div class="input-group">
					<span class="input-group-text" id="inputGroupName"><ion-icon name="accessibility-outline"></ion-icon></span>
					{{ form.first_name }}
				</div>
				<span style="color: #bf1515;">{{ form.first_name.errors }}</span>
			  </div>
			  <div class="col-md-6">
				<label for="last_name" class="form-label">{% trans 'Прізвище*' %}</label>
				 <div class="input-group">
					<span class="input-group-text" id="inputGroupLastName"><ion-icon name="accessibility-outline"></ion-icon></span>
					{{ form.last_name }}
				 </div>
				 <span style="color: #bf1515;">{{ form.last_name.errors }}</span>
			  </div>
			  <div class="col-md-6">
				<label for="email" class="form-label">{% trans 'Адреса електронної пошти*' %}</label>
				<div class="input-group">
					<span class="input-group-text" id="inputGroupPrepend">@</span>
					{{ form.email }}
				</div>
				<span style="color: #bf1515;">{{ form.email.errors }}</span>
			  </div>
			  <div class="col-md-6">
				<label for="phone" class="form-label">{% trans 'Номер телефону*' %}</label>
				<div class="input-group">
					<span class="input-group-text" id="inputGroupLastName"><ion-icon name="call-outline"></ion-icon></span>
					{{ form.phone }}
				</div>
				<span style="color: #bf1515;">{{ form.phone.errors }}</span>
			  </div>
			   <div class="col-12">
				<label for="details" class="form-label">{% trans 'Деталі запиту: продукт, розмір, колір, кількість тощо.*' %}</label>
				<div class="input-group">
					<span class="input-group-text" id="inputGroupLastName"><ion-icon name="reader-outline"></ion-icon></span>
					{{ form.details }}
				</div>
			  </div>
			  <div class="col-md-9">
				<label for="captcha" class="form-label">{% trans 'Капча*' %}</label>
				<div class="input-group">
					{{ form.captcha }}
				</div>
				<span style="color: #bf1515;">{{ form.captcha.errors }}</span>
			  </div>
			  <div class="col-12">
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="validationServer06" required>
				  <label class="form-check-label" for="validationServer06">
						{% trans "Я дозволяю зв'язатися із Latkrok*" %}
				  </label>
				</div>
			  </div>
			  <button type="submit" class="btn btn-primary m-2 mx-auto">{% trans 'Надіслати' %}</button>
			</form>
		</div>
	  </div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'main/js/phone.js' %}"></script>
{% endblock %}