{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/maker_style.css' %}">
{% endblock %}

{% block title %}
Производитель
{% endblock %}

{% block content %}
<div class="wrap mb-5">
		<img class="img-fluid" src="{{ url }}">
		<div id="cont" class="container p-3 rounded-3 border shadow-lg">
			<h1>Производитель</h1>
			<hr>
			<h4>Мы официальные дистрибьюторы Kleen-Tex!</h4>
			<br>
			<p>Kleen-Tex - один из крупнейших производителей ковриков в мире - возник в 1967 в американском городке Лагранж (LaGrange, GA). Уже через 3 года было начато первое производство ковриков на резиновой основе с возможностью их стирки, что дало начало общемировому успеху компании. Сегодня Kleen-Tex можно найти в 3 европейских местах: местонахождение в Куфштайн (Австрия), крупнейшая фабрика ковриков в Сухеднюве (Польша), а также отдел в Болтоне (Великобритания). Кроме того, компания имеет свои отделы в Японии, Таиланде, Южной Африке и Бразилии.</p>
		</div>
	</div>
{% endblock %}