{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block title %}
{% trans 'Виробник | ТОВ «Латкрок-Сервіс»' %}
{% endblock %}

{% block content %}
<img class="d-block w-100" src="{% static 'main/images/maker-banner.jpeg' %}">
<div class="container p-3 mt-5 rounded-3 border shadow-lg">
	<h1>{% trans 'Виробник' %}</h1>
	<hr>
	<h4>{% trans "Ми є офіційними дистриб'юторами Kleen-Tex!" %}</h4>
	<br>
	<p>{% trans 'Kleen-Tex – один з найбільших виробників килимків у світі – виник у 1967 в американському містечку Лагранж (LaGrange, GA). Вже через 3 роки було розпочато перше виробництво килимків на гумовій основі з можливістю прання, що дало початок загальносвітовому успіху компанії. Сьогодні Kleen-Tex можна знайти у 3 європейських місцях: місцезнаходження у Куфштайн (Австрія), найбільша фабрика килимків у Сухеднюві (Польща), а також відділ у Болтоні (Великобританія). Крім того, компанія має свої відділи в Японії, Таїланді, Південній Африці та Бразилії.' %}</p>
</div>
{% endblock %}