{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
{{ order }}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-8">
            <div class="shadow p-1 mb-5 bg-body rounded">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ order.img.url }}" class="d-block w-100 rounded" alt="1 картинка">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ order.img_1.url }}" class="d-block w-100 rounded" alt="2 картинка">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ order.img_2.url }}" class="d-block w-100 rounded" alt="3 картинка">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Описание</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="char-tab" data-bs-toggle="tab" data-bs-target="#char" type="button" role="tab" aria-controls="char" aria-selected="false">Характеристики</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane mt-3 fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <p>{{ order.info }}</p>
                </div>
                <div class="tab-pane fade" id="char" role="tabpanel" aria-labelledby="char-tab">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td colspan="2"><strong>Материал</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Пряжа</td>
                                <td>Волокно High-Twist Nylon (HTN) – окрашенные насквозь</td>
                            </tr>
                            <tr>
                                <td>Основание</td>
                                <td>100% нитриловый каучук</td>
                            </tr>
                            <tr>
                                <td>Высота ворса</td>
                                <td>10 мм</td>
                            </tr>
                            <tr>
                                <td>Общая высота мата</td>
                                <td>11 мм</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h5>{{ order.title }}</h5>
            <div class="shadow-none p-2 ps-3 mb-2 bg-light rounded">
                <ul class="list-unstyled mt-2">
                    <li>Бренд: <a href="https://latkrok.com.ua/ru/bermud" style="text-decoration: none; color: #009577;">Kleen-tex</a></li>
                    <li>Код товара: <span class="text-muted">Iron-Horse</span></li>
                    <li>Доступность: <span style="color: #008002;">На складе</span></li>
                </ul>
            </div>
            <hr>
            <p class="fs-5">Доступные опции</p>
            <div class="shadow-none p-2 ps-3 mb-2 bg-light rounded">
                {% for i in 9|get_range %}
                    <div class="form-check">
                        {% with prise='option_{{ i }}' %}
                        <input class="form-check-input" type="radio" name="prise" id="flexRadioDefault1" value="{{ order.prise }}">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ order.prise|verbose_name }}
                        </label>
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    let description_btn = document.querySelector('#description-tab');
    let char_btn = document.querySelector('#char-tab');

    char_btn.style.color = '#2e7d41';

    description_btn.onclick = () => {
        char_btn.style.color = '#2e7d41';
        description_btn.style.color = '#000';
    }
    char_btn.onclick = () => {
        description_btn.style.color = '#2e7d41';
        char_btn.style.color = '#000';
    }
</script>
{% endblock %}