{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}
{% load i18n %}
{% load static i18n %}

{% block title %}
{{ order.title }}
{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
  </symbol>
</svg>
<div class="container mt-3">
    <div id="liveAlertPlaceholder"></div>
    <div class="row">
        <div class="col-sm-8">
            <div class="shadow p-1 mb-5 bg-body rounded">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ order.img_1.url }}" class="d-block w-100 rounded" id="productImg" alt="1 картинка">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ order.img_2.url }}" class="d-block w-100 rounded" alt="2 картинка">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ order.img_3.url }}" class="d-block w-100 rounded" alt="3 картинка">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">{% trans 'Опис' %}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="char-tab" data-bs-toggle="tab" data-bs-target="#char" type="button" role="tab" aria-controls="char" aria-selected="false">{% trans 'Характеристика' %}</button>
                </li>
            </ul>
            <div class="tab-content shadow-sm p-3 mb-5 bg-body rounded" id="myTabContent">
                <div class="tab-pane mt-3 fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <p>{{ order.description|safe }}</p>
                </div>
                <div class="tab-pane fade" id="char" role="tabpanel" aria-labelledby="char-tab">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td colspan="2"><strong>{% trans 'Матеріал' %}</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% trans 'Пряжа' %}</td>
                                <td>{% trans 'Волокно High-Twist Nylon (HTN) – пофарбовані наскрізь' %}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Основа' %}</td>
                                <td>{% trans '100% нітриловий каучук' %}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Висота ворсу' %}</td>
                                <td>{% trans '10 мм' %}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Загальна висота мату' %}</td>
                                <td>{% trans '11 мм' %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h5 id="productTitle">{{ order.title }}</h5>
            <div class="shadow-none p-2 ps-3 mb-2 bg-light rounded">
                <ul class="list-unstyled mt-2">
                    <li>{% trans 'Бренд:' %} <span style="color: #009577;">Kleen-tex</span></li>
                    <li>{% trans 'Код товару:' %} <span class="text-muted">Iron-Horse</span></li>
                    <li>{% trans 'Доступність:' %}
                        {% if order.status %}
                            <span style="color: #008002;">{% trans 'На складі' %}</span>
                        {% else %}
                            <span style="color: red;">{% trans 'Немає у наявності' %}</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% if order.status %}
                <p class="fs-5 mt-5">{% trans 'Доступні опції' %}</p>
                <div class="shadow-none p-3 mb-3 bg-light rounded">
                    <p><span style="color: red;">*</span>{% trans 'Кількість обмінів килимів (ціна з ПДВ)' %}</p>
                    <hr>
                    {% for i in prise_fields %}
                        <div class="form-check">
                            {% if i == 'prise_1' %}
                                <input class="form-check-input" type="radio" name="prise_radio" id="{{ i }}" value="{% value order i %}" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" name="prise_radio" id="{{ i }}" value="{% value order i %}">
                            {% endif %}
                            <label class="form-check-label" for="{{ i }}">
                                {{ i|name }}  ({% value order i %} грн/міс)
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div id="selector" class="shadow-none p-3 mb-3 bg-light rounded">
                    <p><span style="color: red;">*</span>{% trans 'Колір' %}</p>
                    <select id="colorSelector" class="form-select" aria-label="Color selector">
                        <option selected>--- {% trans 'Виберіть колір' %} ---</option>
                        <option value="Сталь">{% trans 'Сталь' %}</option>
                        <option value="Граніт">{% trans 'Граніт' %}</option>
                        <option value="Кедр">{% trans 'Кедр' %}</option>
                    </select>
                </div>
                <div class="shadow-none p-3 mb-3 bg-light rounded">
                    <p><span style="color: red;">*</span>{% trans 'Кількість' %}</p>
                    <p id="tip" style="display: none; color: red;"><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>{% trans 'Максимальна кількість: 50' %}</p>
                    <div class="input-group">
                        <input type="number" name="quantity" value="1" max="50" id="inputQuantity" class="form-control">
                        <div class="btn-group input-group-text p-0" role="group">
                            <button id="increase" type="button" data-toggle="tooltip" class="btn btn-default" title="Increase" style="border-right: 1px solid #ccc; border-radius: 0;"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button id="decrease" type="button" data-toggle="tooltip" class="btn btn-default" title="Decrease"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button type="button" class="btn btn-success mt-3" id="submit">{% trans 'Додати до кошику' %}</button>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">{% trans 'На даний момент такого товару немає на складі!' %}</h4>
                    <p>{% trans "Але ми обіцяємо, що скоро з'явиться, перевірте знову цю сторінку пізніше." %}</p>
                    <hr>
                    <p class="mb-0">{% trans "Для зв'язку з нами перейдіть на сторінку" %} <a href="{% url 'contacts' %}" class="alert-link">{% trans 'контакти' %}</a></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/js/order_product.js' %}"></script>
{% endblock %}