{% extends 'main/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/special_style.css' %}">
{% endblock %}

{% block title %}
Спец предложения
{% endblock %}

{% block content %}
<div id="liveAlertPlaceholder"></div>
<div class="container p-3 rounded-3 border shadow-sm mt-3">
	<nav aria-label="breadcrumb" style="background: none;">
	  <ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'order' %}">Аренда ковровых покрытий</a></li>
		  <li class="breadcrumb-item"><a href="{% url 'logo' %}">Коврик с логотипом</a></li>
		  <li class="breadcrumb-item active" aria-current="page">Спец предложения</li>
		  <li class="breadcrumb-item"><a href="{% url 'basket' %}">Корзина</a></li>
	  </ol>
	</nav>
</div>
<div class="container">
	<div class="row">
		{% if specials %}
			{% for i in specials %}
				<div class="col-sm-4 mb-3">
					<div class="card">
						<img id="pic_{{ forloop.counter }}" src="{{ i.img.url }}" class="card-img-top" style="max-height: 300px;">
						<img class="offer_pic" src="{% static 'main/images/offer.png' %}">
						<div class="card-body">
							<h5 id="inf_{{ forloop.counter }}" class="card-title">{{ i.title }}</h5>
							<hr>
							<p class="card-text">{{ i.info }}</p>
							<p class="card-text" id="color_{{ forloop.counter }}" style="color: #fd7e14;">{{ i.color }}</p>
							<div class="d-flex"><p id="prise_{{ forloop.counter }}" class="card-text">{{ i.prise }}</p><p style="margin-left: 3px;">грн</p></div>
							<a href="{{ i.get_absolute_erl }}" class="btn btn-success">Добавить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-warning shadow-lg text-center" role="alert">
				<p class="fs-3">Сейчас нет товаров</p>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
		function determine(obj1, obj2, obj3, obj4, obj5, obj6){
			document.getElementById("img_boxes_1").src = document.getElementById(obj1).src;
			document.getElementById("info_boxes").innerHTML = document.getElementById(obj2).innerHTML;
			document.getElementById("color_boxes").innerHTML = document.getElementById(obj3).innerHTML;
			document.getElementById("prise_boxes").innerHTML = document.getElementById(obj4).innerHTML;
			document.getElementById("img_boxes_2").src = obj5;
			document.getElementById("img_boxes_3").src = obj6;
		}
	</script>
	<script type="text/javascript">
		let input = document.getElementById("input-quantity");
		function addNum(){
			input.value++;
		}
		function minNum(){
			if (input.value > 1){
				input.value--;
			}
		}
	</script>
	<script type="text/javascript">
		var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
		let basket_list = JSON.parse(localStorage.getItem("Iron-Horse_JSON"));
		if (basket_list == null || basket_list == ""){
			basket_list = [];
		}
		function alert(message, type) {
		 	var wrapper = document.createElement('div')
		  	wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

		  	alertPlaceholder.append(wrapper)
		}
		function addBasket(src, paragraf, ct, col, pr){
			try{
				let basket = {
					img: src,
					name: paragraf,
					model: "Iron-Horse",
					type: "Спец предложение",
					money: "грн",
					color: col,
					count: ct,
					prise: pr,
					all_prise: ct * pr
				};
				basket_list.push(basket);
				localStorage.setItem("Iron-Horse_JSON", JSON.stringify(basket_list));
				window.location.href="#";
				alert('Товар успешно добавлен!', 'success');
			}
			catch(e){
				alert('Произошла ошибка!', 'danger');
			}
		}
		function ret_count(){
			return document.getElementById("input-quantity").value;
		}
	</script>
{% endblock %}