nav{
	background: var(--bs-gray-400);
}
.navbar-brand{
	transition: 0.5s;
}
.navbar-brand:hover{
	transform: scale(1.1);
}
.wrap{
	position: relative;
	min-height: 100vh;
}
#cont{
	margin-top: 100px;
}
.foot{
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
}
footer{
	background: var(--bs-gray-400);
}
footer ul li a{
	font-size: 24px;
	transition: 0.5s !important;
}
footer ul li a:hover{
	transform: translateY(-10px);
}